body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container {
  background-image: url(assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position-y: -50px;
  width: 900px;
  height: 700px;
  background-color: hsl(275, 100%, 97%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#form {
  width: 700px;
  height: 500px;
  background-color: white;
}
